<div class="py-3">
  <div class="row mx-2">
      <% @bookings.each do |booking| %>
        <div class="col-lg-4 col-md-6">
            <table class="table booking-table">
            <thead class="thead-dark">
              <tr class="text-center">
              <th colspan="2"><%= image_tag booking.doppelganger.photo, class: 'img-fluid' %></th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <th colspan="2">Booking for - <%= booking.doppelganger.name.upcase %></th>
              </tr>
              <tr>
                <th scope="row">Start time:</th>
                <td><%= booking.start_time.strftime("%b %e, %l:%M %p") %></td>
              </tr>
              <tr>
                <th scope="row">End time:</th>
                <td><%= booking.end_time.strftime("%b %e, %l:%M %p") %></td>
              </tr>
              <tr>
                <th scope="row">Location:</th>
                <td><%= booking.location %></td>
              </tr>
              <tr>
                <th scope="row">Total price:</th>
                <td>¥<%= ((booking.end_time - booking.start_time) / 3600 * booking.doppelganger.price).floor.to_s(:delimited) %></td>
              </tr>
              <tr>
                <th scope="row">Status:</th>
                <% if booking.status == "pending" %>
                  <td><span class="booking-pending"><%= booking.status.capitalize %></span> | <span class="btn btn-danger">cancel</span></td>
                <% elsif booking.status == "confirmed" %>
                  <td><span class="booking-confirmed"><%= booking.status.capitalize %></span></td>
                <% else %>
                  <td><span class="booking-rejected"><%= booking.status.capitalize %></span></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
  </div>
</div>
