<div class="py-3">
  <div class="card-deck">
    <div class="row mx-2">
      <% @bookings.each do |booking| %>
      <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
        <div class="card" style="width: 400px;">
          <%= cl_image_tag booking.doppelganger.photo.key, width: 400, height: 400, crop: :fit, class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= booking.doppelganger.name %></h5>
            <p class="card-text"><%= booking.doppelganger.description %></p>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">From: <%= booking.start_time.strftime("%b %e, %l:%M %p") %></li>
              <li class="list-group-item">Until: <%= booking.end_time.strftime("%b %e, %l:%M %p") %></li>
              <li class="list-group-item">In: <%= booking.location %></li>
              <li class="list-group-item">Total: ¥<%= ((booking.end_time - booking.start_time) / 3600 * booking.doppelganger.price).floor.to_s(:delimited) %></li>
              <li class="list-group-item">Status:
                <td><span class="booking-<%= booking.status %>"><%= booking.status.capitalize %></span></td>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
