

<p><%= simple_form_for [@doppelganger, @booking] do |f| %>
  <%= f.input :start_time, input_html: {class: "datepicker"} %>
  <%= f.input :end_time, input_html: {class: "datepicker"} %>
  <%= f.input :location %>
  <%= f.submit 'Request Booking' %>
<% end %></p>
