<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'homepage/torii.jpg', alt: 'illustration of torri Japanese gates' %>);">
  <div class="container banner-content">
  <div class="container d-flex inline-form">
    <div class="banner-form">
    <div class="text-box">
		<h1>DOPPELGANGER FINDER</h1>
		<h1>DOPPELGANGER FINDER</h1>
    </div>
      <form action="/doppelgangers">
        <div class="form-row align-items-center">
          <div class="col-sm-12 col-md-5 col-lg-5">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <div class="input-group mb-2">
              <%= form_tag doppelgangers_path, method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Celebrity name"
                %>
            </div>
          </div>
          <div class="col-lg-auto col-md-auto col-sm-9 col-9">
            <label class="sr-only" for="inlineFormInputGroup">Location</label>
            <div class="input-group mb-2">
              <%= text_field_tag :city,
                params[:city],
                class: "form-control",
                placeholder: "City"
              %>
            </div>
          </div>
          <div class="col-auto">
            <%= submit_tag "Search", class: "btn btn-primary mb-2" %>
          <% end %>
          </div>
        </div>
      </form>
    </div>
      <h2 class="mt-4">FIND THE BEST DOPPELGANGERS IN TOWN!</h2>
      <p>Is that who I think it is?</p>
    </div>
  </div>
</div>
