<div class="container my-3">
  <div class="card-product">
  <%= image_tag "#{doppelganger.photo_url}" %>
    <div class="card-product-infos">
      <div class="card-product-title">
      <div>
        <h3><%= "#{doppelganger.name} near you" %></h3>
        <h2><%= doppelganger.description %></h2>
      </div>
      </div>
      <div class="card-product-price">
      <div>
        <p><%= "¥#{doppelganger.price} / hour" %></p>
        <p class="total-price">4,000 total</p>
        <%# Above price is hard coded %>
      </div>
      </div>
    </div>
    <%= link_to '', doppelganger_path(doppelganger), class: 'card-link' %>
  </div>
</div>
