<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-user-friends" id="navbar-logo"></i> <span id="app-title">Doppelganger Finder</span>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-book" style="font-size:24px;"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Check your bookings", "/bookings", class: "dropdown-item" %>
            <% if @user.doppelgangers.any? %>
              <div class="dropdown-divider"></div>
              <%= link_to "" "/owner/bookings", class: "dropdown-item" do %>
                <% if @user.bookings_as_owner.where(status:"pending").any? %>
                  Booking requests <i class="fas fa-circle green-pill"></i><span class="booking-pill"><%= @user.bookings_as_owner.where(status:"pending").count %></span>
                <% else %>
                  Booking requests <i class="fas fa-bell-slash"></i>
                <% end %>
                <% @user.doppelgangers.each do |doppelganger| %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "#{doppelganger.name}", "/doppelgangers/#{doppelganger.id}", class: "dropdown-item" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </li>
      <li class="nav-item mt-1">
        <%= link_to "Become a Doppelganger", "/doppelgangers/new", class: "dropdown-item" %>
      </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="fas fa-power-off" style="font-size:24px;"></i>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
