<%= render 'shared/banner' %>
<div class="container mt-5">
  <div class="row">
    <% @doppelgangers.first(4).each do |doppelganger| %>
      <div class="col">
        <div class="container my-3">
          <div class="card-product">
          <%= cl_image_tag doppelganger.photo.key, height: 800, width: 800, crop: :fill  %>
            <div class="card-product-infos">
              <div class="card-product-title">
              <div>
                <h3><%= "#{doppelganger.name} near you" %></h3>
                <h2><%= doppelganger.description %></h2>
              </div>
              </div>
              <div class="card-product-price">
              <div>
                <p><%= "¥#{doppelganger.price} / hour" %></p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
