
<div>
  <%=  %>
</div>

<% @doppelgangers.each do |doppelganger| %>
  <%= "#{doppelganger.name} located in #{params[:location]}" %>
  <%= doppelganger.description %>
  <%= "¥#{doppelganger.price} / hour" %>
  <%= "¥#{params[:booking_end] - params[:booking_start]} total" %>
<% end %>
