
<div>
  <%= "#{params[:name]} in #{params[:location]} | #{params[:booking_start]} TO #{params[:booking_end]}" %>
</div>

<% @doppelgangers.each do |doppelganger| %>
  <%= "#{doppelganger.name} located in #{params[:location]}" %>
  <%= doppelganger.description %>
  <%= "¥#{doppelganger.price} / hour" %>
  <%= "¥#{params[:booking_end] - params[:booking_start]} total" %>
  <%= link_to '', doppelganger_path(doppelganger) %>
<% end %>

<%= @url %>
